<div class="container mt-5">

   <div class="card shadow-lg">
    <h5 class="card-title">
        Contact Us
       
    </h5>
    <div class="card-body">
      <p>
        <strong>Name:</strong>
         {{developer.developerName}}  
      </p>
        <p>
            <strong>Email:</strong>
           <a href="mailto:{{developer.developerEmail}}">
              {{developer.developerEmail}}
           </a>
            
        </p>
        <p>
            <strong>Bio:</strong>
             {{developer.developerBio}}
         </p>
    </div>
  </div>
</div>
